<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.volleyjson">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bookopenflat"
        android:label="KnowBook"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".showsubject"
            android:label="Subjects" />
        <activity
            android:name=".showbooks"
            android:label="Book List" />
        <activity
            android:name=".sliderActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/apptheme" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Routineviewer" />
        <activity android:name=".Routineviewer2"
            android:label="Routine"
            />
        <activity android:name=".profile"
            android:label="Setup Profile"
            />
        <activity android:name=".notes"
            android:label="Notes"/>
        <activity
            android:name=".see_my_subject"
            android:label="My subjects" />
        <activity android:name=".see_my_books"
            android:label="My Booklist"/>
        <activity
            android:name=".homeactivity"
            android:label="Know Books"
            />
        <activity android:name=".question"
            android:label="Past Questions"
            ></activity>
    </application>

</manifest>